.sorting {
    position: relative;
}

.multiselect {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    color: #000;
    position: absolute;
    z-index: 2;
    border: 1px solid #333;
  }
  
  .selectBox {
    position: absolute;
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes label {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }